# 1.작업형 1유형 (3문항)
- 데이터 탐색
- 데이터 전처리

In [1]:
import pandas as pd
import seaborn

ModuleNotFoundError: No module named 'seaborn'

In [2]:
# 데이터 불러오고 기본정보 확인
df = pd.read_csv('https://raw.githubusercontent.com/JEunJin/Bigdata_python/master/bigdata_csvfile/titanic.csv')
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [ ]:
# 데이터 시각화 
df['Survived'].value_counts() # 생존 , 사망 수 확인 
# 생존 = 1 , 사망 =0 을 범주형 변수로 변환  
df['Survived(modify)'] = df['Survived'].replace([0,1],['사망','생존'])

Survived
0    549
1    342
Name: count, dtype: int64

In [4]:
# 데이터 전처리

# 2. 작업형 2유형 (1문항)
- 데이터 분석 절차
- 데이터 분석 모델 설계계

# 3. 작업형 3유형 (6문항)
- 가설검정
-