작업형 1유형 (1)
- 주어진 데이터를 활용해서 결측값이 가장 많은 컬럼명을 확인 
- 결측값을 최빈값으로 대체
- 결측값 대체 전 컬럼 평균과 ,  대체 후 컬럼 평균의 차이를 구하시오 (소수점 3자리 까지 출력)

In [7]:
import pandas as pd 

data = pd.read_csv('https://raw.githubusercontent.com/JEunJin/Bigdata_python/master/bigdata_csvfile/airquality.csv')
print(data.info())# 결측값이 가장 많은 컬럼 : Ozone : 153-116 = 37개 

# 결측치 최대값 대체 
data_after = data.copy()
data_after['Ozone'] = data_after['Ozone'].fillna(data_after['Ozone'].mode()[0])

print(data_after.info()) # 결측치 대체가 완료됨 

# 대체 전 컬럼 평균
#print('before fillna mean: ',data['Ozone'].mean())
#print('after fillna mean: ',data_after['Ozone'].mean())

result = data['Ozone'].mean() - data_after['Ozone'].mean()
print(round(result,3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    116 non-null    float64
 1   Solar.R  146 non-null    float64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    int64
 4   Month    153 non-null    int64
 5   Day      153 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 7.3 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    153 non-null    float64
 1   Solar.R  146 non-null    float64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    int64
 4   Month    153 non-null    int64
 5   Day      153 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 7.3 KB
None
4.626

# 1유형(2)
- 주어진 와인데이터의 alchol 컬럼의 데이터를 최대-최소 정규화 
- alchol 컬럼의 표준편차 구하시오 (자유도 0 , 연산결과는 반올림 후 3자리 까지지)

In [13]:
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler
data = pd.read_csv('https://raw.githubusercontent.com/JEunJin/Bigdata_python/master/bigdata_csvfile/wine_data.csv')
print(data.info())
scaler = MinMaxScaler()
data['alcohol']=scaler.fit_transform(data[['alcohol']])

# 
result = data['alcohol'].std(ddof=0)
print(round(result,3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   alcohol                       178 non-null    float64
 1   malic_acid                    178 non-null    float64
 2   ash                           178 non-null    float64
 3   alcalinity_of_ash             178 non-null    float64
 4   magnesium                     178 non-null    int64
 5   total_phenols                 178 non-null    float64
 6   flavanoids                    178 non-null    float64
 7   nonflavanoid_phenols          178 non-null    float64
 8   proanthocyanins               178 non-null    float64
 9   color_intensity               178 non-null    float64
 10  hue                           178 non-null    float64
 11  od280/od315_of_diluted_wines  178 non-null    float64
 12  proline                       178 non-null    int64
 13  class                         178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB
None
0.213

# 1유형(3)
- 주어진 심장병 데이터의 chol 컬럼의 이상치 개수를 구하시오 (이상치 범위는 +- 1.5* IQR 이상 이하)